## Week 1 of Python tutorials - Vaibhav Beohar
--> basics, lists and list comprehensions, map(), sorted() and lambda functions

## Here is a list of numbers
### You can add and change elements as well as extract elements individually or in slices

Some very useful nested list comprehension explanation: https://stackoverflow.com/questions/17657720/python-list-comprehension-double-for

Some good explanation here (List of dictionaries with comprehension in python): https://stackoverflow.com/questions/28924633/list-of-dictionaries-with-comprehension-in-python

In [2]:
numbers = [4, 2, 10, 12, 3, 7, 12]
numbers.append(20)
numbers[0] = 5
print(numbers)
numbers.pop()
print(numbers)

print(numbers[2:])
print(numbers[:2])
print(numbers[2:-1])

[5, 2, 10, 12, 3, 7, 12, 20]
[5, 2, 10, 12, 3, 7, 12]
[10, 12, 3, 7, 12]
[5, 2]
[10, 12, 3, 7]

In [43]:
names = ['sri', 'alex', 'vaib']
print(names[1])

costs = [1,2,3,5,'vaib']

skills = {'prg':costs}

print(skills)

set_example = {1,2,4,'a','2'}

skills['set_example'] = set_example

print(skills)

empl = [ [1, 'joey', 'instructor'], [2, 'mary', 'manager'], set_example,  skills]

print('+++++++++++++++++++')

print('\n')

print(empl)

print('\n')

print(empl[0])

print('\n')

print(empl[1])

print('\n')

print(empl[2])

print('\n')

print(empl[3]['set_example'])

print('\n')

print(empl[3]['prg'])

alex
{'prg': [1, 2, 3, 5, 'vaib']}
{'prg': [1, 2, 3, 5, 'vaib'], 'set_example': {1, 2, 4, '2', 'a'}}
+++++++++++++++++++


[[1, 'joey', 'instructor'], [2, 'mary', 'manager'], {1, 2, 4, '2', 'a'}, {'prg': [1, 2, 3, 5, 'vaib'], 'set_example': {1, 2, 4, '2', 'a'}}]


[1, 'joey', 'instructor']


[2, 'mary', 'manager']


{1, 2, 4, '2', 'a'}


{1, 2, 4, '2', 'a'}


[1, 2, 3, 5, 'vaib']

## Sets can also be used instead and they automatically remove duplicate values

In [4]:
numbers = {3, 2, 1, 1, 4, 5, 6, 3}
print(numbers)

others = {1, 4, 7}
print(numbers.intersection(others))
# print(numbers.difference(others))
# print(numbers.union(others))

# numbers2 = set(numbers)
# print(numbers2)

{1, 2, 3, 4, 5, 6}
{1, 4}

## Dictionaries use a pair of keys and values to store data

In [5]:
record = {'firstname':'Adam', 'lastname':'Smith', 'age':50}
print(record['firstname'])
record['lastname'] = 'Jones'


record['gender'] = 'M'

print(record)
print(record['gender'])

# print(record.keys())
# print(record.values())
# print(record.items())
# del record['gender']

Adam
{'firstname': 'Adam', 'lastname': 'Jones', 'age': 50, 'gender': 'M'}
M

## List comprehensions can be used as a shortcut way of doing a loop on the elements of a collection and are often more efficient

In [6]:
y = []
x = [1,2,3,4,5]
for e in x:
    y.append(e*2)
print(y)

y = [e*2 for e in x]

print(y)

newnames = [n.upper() for n in names]

print(newnames)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]
['SRI', 'ALEX', 'VAIB']

In [7]:
print([x * 2 for x in [1, 2, 3, 4]])

b = [x for x in empl if type(x)=='\<class \'str\'\>']

print(b)

print([x for x in [1, 2, 3, 4, 4] if x % 2 == 0])

[2, 4, 6, 8]
[]
[2, 4, 4]

## LAB: ## 
### Using the numbers list we created above, multiply each number by 5.
### Next, only multiply the numbers less than 5 by 10.
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Try writing the for part first and use a simple name for the range variable that takes on each value one at a time
<br>
Put the calculation using the range variable in front of the for
<br>
If clause follows the for clause and can be used to make a conditional like a WHERE clause does in SQL
<br>
<br>
</p>
</details>

<details><summary>Click for <b>code</b></summary>
<p>

```python
print([n * 5 for n in numbers])
print([n * 5 for n in numbers if n < 10])
```
</p>
</details>

In [8]:
numbers = [4, 2, 10, 12, 3, 7, 12]


print({x*5 for x in numbers})
print([x*10 for x in numbers if x < 5])

#select 5 * col from numbers as n
#select 5 * col from numbers as n where n <5

{35, 10, 15, 50, 20, 60}
[40, 20, 30]

## Functions can be written with the def statement

In [9]:
def double(x):
    return x * 2

print(double(10))

20

## If a function can be represented in a single line to take parameters and return a value, a lambda is another way of expressing the function
### They have the advantage that you can embed them directly as a parameter to another function

In [10]:
triple = lambda x : x * 3
print(triple(10))

30

## map is a function that takes another function as the first parameter and a collection as the second. It applies the passed in function to each element of the collection returning a generator function.
### lambdas are often used with functions like map when you need to make an on the fly function

In [11]:
data = [10, 2, 30, 4, 5]
data1 = (double(x) for x in data)  ## this creates a generator object as shown below:
print(data1)

#but generator obj can be converted to list by below:
print(list(data1))
print(map(double, data))
print(list(map(double, data)))


#below line does same as the above list(map()) line
print([double(x) for x in data])

print(list(map(lambda x : x * 5, data)))
print([x * 5 for x in data])

<generator object <genexpr> at 0x7fa6c0424450>
[20, 4, 60, 8, 10]
<map object at 0x7fa6c0429850>
[20, 4, 60, 8, 10]
[20, 4, 60, 8, 10]
[50, 10, 150, 20, 25]
[50, 10, 150, 20, 25]


## filter is another function similar to map, that will take a function that returns a bool as the first parameter and apply it to the elements of the collection returning only those elements for which the function returns true

In [13]:
def small(x):
    return x < 10
print(small(11))

print(list(filter(small, data)))

print(filter(lambda x : x < 10, data))
print(list(filter(lambda x : x < 10, data)))
print([x for x in data if x < 10])

False
[2, 4, 5]
<filter object at 0x7fa6c0429a10>
[2, 4, 5]
[2, 4, 5]

## sorted is another example of a function that takes a function or lambda which can be used to provide a custom sort function on a collection

In [17]:
print(sorted(data))
print(sorted(data, reverse=True))
print(sorted(data, key=lambda x : (x % 2, x)))

data = [10, 2, 30, 4, 5]

print(list(map(lambda x : (x % 2, x), data)))

[2, 4, 5, 10, 30]
[30, 10, 5, 4, 2]
[2, 4, 10, 30, 5]
[(0, 10), (0, 2), (0, 30), (0, 4), (1, 5)]

## LAB: ## 
### Given the list of names below, sort them on the length of the name so the shortest names are first.
### Try to sort them alphabetically regardless of case.
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
Create a lambda function using the built in len function
<br>
Create a lambda function using a method built into strings that can ignore the case
<br>
<br>
</p>
</details>

<details><summary>Click for <b>code</b></summary>
<p>

```python
print(sorted(names))
print(sorted(names, key = lambda x : len(x)))
print(sorted(names, key = lambda x : x.upper()))
```
</p>
</details>

In [18]:
names = ['bob', 'Linda', 'Adam', 'betty']
print(sorted(names, reverse=True))


print(sorted(names, key = lambda x : len(x)))

['bob', 'betty', 'Linda', 'Adam']
['bob', 'Adam', 'Linda', 'betty']

## HOMEWORK: ## 
### Given the list of names below, print out all the names in alphabetical order.
### Print just the male students showing their names and ages as a tuple, in alphabetical order.
<br>
<details><summary>Click for <b>hint</b></summary>
<p>
The for clause will return each element of the list, each element is a single dictionary object
<br>
Use the keys to fetch the dictionary values you want for each element
<br>
To return a tuple, wrap multiple values in parentheses 
<br>
Use an if clause and the value of a key to return only the male students
<br>
<br>
</p>
</details>

In [143]:
students = [
    {'id':1, 'name':'Zack', 'gender':'M', 'age':15},
    {'id':2, 'name':'Yamila', 'gender':'F', 'age':14},
    {'id':3, 'name':'Xavier', 'gender':'M', 'age': 14},
    {'id':4, 'name':'Wendy', 'gender':'F', 'age':15},
    {'id':5, 'name':'Victor', 'gender':'M', 'age':15}
]

# Extracts 2nd elements from list - which is a dictionary - and extracts named element from that dictionary
print(students[2]['id'])

print('\n')

#Intermediate step. This takes the list in sorted(), then for each of the elements, which is pushed in "key", it 
#loops over those elements and extracts the 'name' element and applies len() to sort the elements
print(sorted(students, key=lambda x : len(x['name'])))

print('\n')

#finall, this loops over list creates list of names by extracting the 'name' element from the dictionary.
#Then the list of those names is passed in key and the lambda function applies len() to sort them 
print(sorted([a['name'] for a in students], key=lambda x:len(x)))

3


[{'id': 1, 'name': 'Zack', 'gender': 'M', 'age': 15}, {'id': 4, 'name': 'Wendy', 'gender': 'F', 'age': 15}, {'id': 2, 'name': 'Yamila', 'gender': 'F', 'age': 14}, {'id': 3, 'name': 'Xavier', 'gender': 'M', 'age': 14}, {'id': 5, 'name': 'Victor', 'gender': 'M', 'age': 15}]


['Zack', 'Wendy', 'Yamila', 'Xavier', 'Victor']

In [144]:
#This first creates a list of lists called d, for the male criteria
#That list of lists is passed to the sorted function which sorts then and returns the list of lists to the map()
#The map then applies second lambda function on the output of sorted() to create a tuple

d = ([a['name'], a['age']] for a in students if a['gender']=='M')
print(list(map(lambda x : (x[0], x[1]), sorted(d, key=lambda x: (len(x[0]), x[1])))))

[('Zack', 15), ('Xavier', 14), ('Victor', 15)]

In [ ]:

# print(list(map(lambda x : (x % 2, x), data)))
     
     
# print(c)

# ld=[{'a':10,'b':20},{'p':10,'u':100}]

# print([kv for d in ld for kv in d.items()])